/target/
/target/classes/
/target/generated-sources/
/target/maven-status/
/target/surefire/
/target/surefire-reports/
/target/test-classes/
/.idea/codeStyles/
.target/
.target/classes/
.target/generated-sources/
.target/maven-status/
.target/surefire/
.target/surefire-reports/
.target/test-classes/
/.idea/workspace.xml
